
<container>
  <row>
    <columns small="12" large="12">
      <menu>
        <item href="#">Faceb</item>
        <item href="#">Twit</item>
        <item href="#">Insta</item>
      </menu>
    </columns>
  </row>
  <row>
    <columns class="primary-color" small="12" large="12">
      <p style="text-align:center;">It's Time to Test What You've Learned! By completing this exercise, you'll be able to make sure you're good with the basics before moving forward. If you're in the Coached or Certification tracks and have access to office hours, be sure to attend for specific help on this exercise! The Exercise: Practice scaffolding a menu in the layout below. Focus on creating the same structure seen in the layout mockup; no need to worry about styling. Create a centered menu with 3 links:</p>
      <p style="text-align:center;"><a href="#">Unsubscribe</a></p>
    </columns>
  </row>
</container>